//Body style for fonts, background image
body {
	font-family: 'Amatic SC', cursive;
	background-image: url(/../img/skin-shapes-bg.png);
	background-repeat: repeat;
	animation-duration: infinite;
	animation-name: background;
	animation: background 60s linear infinite;
	
}

@keyframes background {
	from { background-position: 0 0; }
	to { background-position: 100% 100%; }
}





//Styles to control the introduction paragraph and image
.intro {
	.intro-para {
		.intro-heading {
			
			font-weight: 600;
		}
		.intro-text {
			font-size: 130%;
		}
	}
	.intro-image-container {
			@include media-breakpoint-up(xs) {
				text-align: center;
			}
		.intro-image {
			height: 100%;
			@include media-breakpoint-up(xs) {
				width: 100%;
				height: auto;
				padding-top: 75px;
			}
		}
	}
	
}

//Styles for the slider functionality
.slider-heading-container {
	
}


.slider-container {
	border-top: 10px solid #FF96FF;
	border-bottom: 10px solid #FF96FF;
	background-color: #EFEFEF; 
	.img1 {
		background-image: url(../img/20905178_298813743927719_526571709273210880_n.jpg);
		background-size: contain;
	}
	}
	img {
		@include media-breakpoint-up(xs) {
			width: 100%;
			
		}
		@include media-breakpoint-up(md) {
			height: 100%;			
		}
	}


.slider-buttons {
	font-size: 500%;
	z-index: 999;
	
	.left-arrow, .right-arrow {
	@include media-breakpoint-up(xs) {
		width: 50%;
		text-align: center;
		}
	}
}

.img__description {
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.slider-container:hover .img__description {
  visibility: visible;
  opacity: 1;
}




//styles to manage the product layouts shown
.product-row {
	margin: 50px 0 50px 0;
	img {
		width: 100%;
		
		@include media-breakpoint-up(xs) {
		margin-top: 20px;
		}
	}
	margin-bottom: 25px;
}

.view-more-btn {
	text-align: center;
}



//Home page contact form styles
.home-contact {
	button {
		text-align: center;
	}
	label {
		font-size: 150%;
	}
	.big-checkbox {
		width: 20px;
		height: 20px;
		margin-top: 7px;
	}
	.form-submit {
		width: 50%;
	}
	
}