//Body style for fonts, background image
body {
	font-family: 'Amatic SC', cursive;
	background-image: url(/../img/skin-shapes-bg.png);
	background-repeat: repeat;
	overflow-x: hidden;
}





//Styles to control the introduction paragraph and image
.intro {
	.intro-para {
		.intro-heading {
			
			font-weight: 600;
		}
		.intro-text {
			font-size: 130%;
		}
	}
	.intro-image-container {
			@include media-breakpoint-up(xs) {
				text-align: center;
			}
		.intro-image {
			height: 100%;
		}
	}
	
}

//Styles for the slider functionality
.slider-heading-container {
	
}


.slider-container {
	img {
		@include media-breakpoint-up(xs) {
			width: 100%;
			
		}
		@include media-breakpoint-up(md) {
			height: 600px;
		}
	}
}


//styles to manage the product layouts shown
.product-row {
	margin: 50px 0 50px 0;
	img {
		width: 100%;
		
		@include media-breakpoint-up(xs) {
		margin-top: 20px;
		}
	}
	margin-bottom: 25px;
}

.view-more-btn {
	text-align: center;
}



//Home page contact form styles
.home-contact {
	button {
		text-align: center;
	}
	label {
		font-size: 150%;
	}
	.big-checkbox {
		width: 20px;
		height: 20px;
		margin-top: 7px;
	}
	
}