//Body style for fonts, background image
body {
	font-family: 'Amatic SC', cursive;

}

.shop-bg, .about-bg, .contact-bg {
	background-image: url(../img/skin-shapes-bg-2.png);
	background-repeat: repeat;
	animation-name: background;
	animation: background 60s linear infinite;
	
}

@keyframes background {
	from { background-position: 0 0; }
	to { background-position: 100% 100%; }
}





//Styles to control the introduction paragraph and image
.intro {
	.intro-para {
		.intro-heading {

			font-weight: 600;
		}
		.intro-text {
			
		}
	}
	.intro-image-container {
			@include media-breakpoint-up(xs) {
				text-align: center;
			}
		.intro-image {
			height: 100%;
			@include media-breakpoint-up(xs) {
				width: 50%;
				height: auto;
				padding-top: 75px;
			}
		}
	}

}

//Styles for the slider functionality
.slider-heading-container {

}


.slider-container {
	border-top: 10px solid #FF96FF;
	border-bottom: 10px solid #FF96FF;
	background-color: #EFEFEF;
	}
	img {
		@include media-breakpoint-up(xs) {
			width: 100%;

		}
		@include media-breakpoint-up(md) {
			height: 100%;
		}
	}


.slider-buttons {
	font-size: 500%;
	z-index: 998;

	.left-arrow, .right-arrow {
	@include media-breakpoint-up(xs) {
		width: 50%;
		text-align: center;
		}
	}
}

.img__description {
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.slider-container:hover .img__description {
  visibility: visible;
  opacity: 1;
}




//styles to manage the product layouts shown
.product-row {
	margin: 0;
	.img-container-1 {
		background-image: url(../img/blue-shirt-2.png);
		background-size: cover;
		padding: 0;
		margin: 0;
			@include media-breakpoint-up(md) {
				background-position: center center;
				background-repeat: repeat;
				height: 1000px;
		}
			@include media-breakpoint-up(xs) {
				height: 500px;
		}
		
	}
	.img-container-2 {
		background-image: url(../img/shot-2.png);
		height: 1000px;
		background-position: center center;
		background-size: cover;
				padding: 0;
		margin: 0;
			@include media-breakpoint-up(xs) {
				height: 500px;
				background-position: left center;
		}
	}
	.img-container-3 {
		background-image: url(../img/shot-3.png);
		height: 1000px;
		background-position: center center;
		padding: 0;
		margin: 0;
		background-size: cover;
			@include media-breakpoint-up(xs) {
				height: 500px;
				background-position: left center;
		}
	}
	
	
	img {
		width: 100%;
		@include media-breakpoint-up(xs) {
		margin-top: 20px;
		}
	}
	
}

.view-more-btn {
	margin-top: 25px;
	text-align: center;
}



//Home page contact form styles
.home-contact {
	button {
		text-align: center;
		margin-bottom: 20px;
	}
	label {
		font-size: 150%;
	}
	.big-checkbox {
		width: 20px;
		height: 20px;
		margin-top: 7px;
	}
	.form-submit {
		width: 50%;
	}

}


//About page

.content-page {
	text-align: center;
	margin-bottom: auto;
	@include media-breakpoint-up(md) {
		margin-bottom: 50px;
	}
	.p-image {
		width: 100%;
		height: auto;
		text-align: center;
		padding: 20px 0 20px 0;
	}
}

//Shop page



.product-container {
	margin-top: 50px;
	background-color: $header-grey;
	@include media-breakpoint-up(md) {
		padding: 50px;
	}	
	

	@include media-breakpoint-up(xs) {
		.product-description {
			padding: 20px;
		}
		.shop-button {
			padding: 0 20px 20px 20px;
		}
	}
	.product-title {
	text-align: center;
	}
	
	.shop-button {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	.slider-shop img {
		width: auto;
		
	}
	
	
}