//    (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
;

//styles for the top nav desktop
#topNavDesktop {
	text-align: center;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #efefef;
	width: 100%;
	position: fixed;
	z-index: 999;
	ul {
		list-style-type: none;
		display: inline;
		margin: 0 auto;
		width: 100%;
	
		li {
			display: inline-block;
			padding: 10px 50px 10px 50px;
			margin-left: auto;
			font-size: 180%;
			a {
				color: #000;
			}
		}
	}
	@include media-breakpoint-up(xs) {
		display: none;
	}
	@include media-breakpoint-up(md) {
		display: inline-block;
	}
}

//styles for the top nav mobile
#topNavMobile {
	@include media-breakpoint-up(md) {
		display: none;
	}
	
	z-index: 999;
	background-color: $primary-color;
	
	.mobile-menu-toggle {
		float: right;
		padding-right: 25px;
		font-size: 200%;
	}
	
		ul.mobile-menu.inactive {
			display: none;
		}
		ul.mobile-menu.active {
			text-align: center;	
			height: 100vh;
			margin: auto;
			padding-left: 0;
			li {
				list-style: none;
				line-height: 50px;
				font-size: 200%;
				color: #000;
				border-bottom: 1px solid #ffff72;
				padding: 10px 0 10px 0;
				p.mobile-menu-p {
					padding: 20px 0 20px 0;
					
				}
				
			}
			.header-link-mobile {
				color: #000;
			}
			.mobile-menu-icon {
				float: left;
				padding-left: 20px;
			}
		}
}


//styles for the hero area
.hero-area {
	@include media-breakpoint-up(md) {
		height: 50vh;
		margin-bottom: 50px;
	}
	.hero-heading {
		text-align: center;
		margin: auto;
		font-size: 120%;
	}
}
